@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

/* header start */

.headermaindiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logodiv img {
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    width: 200px;
}

.morecon ul {
    display: flex;
}

.morecon ul li {
    padding-left: 10px;
}

.firstli {
    padding: 0 !important;
}

hr {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.descrpar {
    font-weight: 300;
}

/* heart phone */
.headermaindivphone {
    display: flex;
    align-items: center;
}

.moreconphone {
    text-align: -webkit-center;
}

.moreconphone ul {
    width: 90%;
    flex-wrap: wrap;
    display: flex;
}

/* header End */

/* button start */
.buttoncol {
    display: flex;
    justify-content: space-around;
}

.buttoncol div button {
    /* background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%); */
    background-color: #fc8019;


    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 500;
}

.buttoncol div button :hover {
    box-shadow: #fc8019;
    transition-duration: .1s;
}

@media (min-width: 768px) {
    .buttoncol div button {
        padding: 0 2.6rem;
    }
}

/* button end */

/* slider button start*/
.slidemaindiv {
    display: flex;
    overflow: auto;
    width: max-content;
}

.slidemaindiv div {
    padding-left: 10px;
}

.slidemaindiv div button {
    background: #fc8019;
    border-radius: 999px;
    box-shadow: #fc8019 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    /* font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif; */
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

/* slider button end */
/* card start */
.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.addbtn {
    background-color: #fc8019;
    color: #fff;
}

/* card end */
/* slide re */
.starmain {
    display: flex;
    justify-content: space-evenly;
}

.username {

    text-align: center;
    padding-bottom: 1rem;

}



.star i {
    color: #fc8019;
}

/* socilamedia */
.buttonsoci a {
    /* background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%); */
    background: #fc8019;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 30px;
    font-weight: 500;
    height: 4rem;
    padding: 6px 1.6rem 2px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

.buttonsoci {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
    .moreconphone {
        text-align: left;
    }

    .logodiv img {
        width: 170px;
    }

    #pcsection {
        display: none;
    }

    .headercontainer {
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
    }

    .buttoncol div button {
        padding: 5px 15px;
    }
}

@media only screen and (min-width: 600px) {
    .moreconphone {
        text-align: left;
    }

    #pcsection {
        display: none;
    }

    .headercontainer {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .buttoncol div button {
        padding: 8px 27px;
    }
}

@media only screen and (min-width: 768px) {
    .logodiv img {
        width: 200px;
    }

    .moreconphone {
        text-align: -webkit-center;
    }

    #phonesction {
        display: block;
    }

    #pcsection {
        display: none;
    }

    .headercontainer {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .buttoncol div button {
        padding: 8px 27px;
    }
}

@media only screen and (min-width: 992px) {
    #phonesction {
        display: none;
    }

    #pcsection {
        display: block;
    }

    .headercontainer {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

@media only screen and (min-width: 1200px) {}

/* 
#pcsection{
    display: none;
} */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tabs {
    position: relative;
    /* margin: 270px auto 0; */
    width: 590px;
    height: 50px;
    /* background: #34495e; */

    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

.tabs li {
    font-size: 15px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    transition: all .5s ease 0s;
}

.tabs .animation {
    position: absolute;
    height: 100%;
    /* height: 5px; */
    top: 0;
    /* bottom: 0; */
    z-index: 0;
    color: black !important;
    background: #fc8019;

    transition: all .5s ease 0s;
}

.tabs li:nth-child(1) {
    width: 100px;
}

.tabs .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
}

.tabs li:nth-child(2) {
    width: 110px;
}

.tabs li:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
}

.tabs li:nth-child(3) {
    width: 100px;
}

.tabs li:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
}

.tabs li:nth-child(4) {
    width: 160px;
}

.tabs li:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
}

.tabs li:nth-child(5) {
    width: 120px;
}

.tabs li:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
}


[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.active[data-tab-target] {
    color: #fff !important;
    background-color: #fc8019;
    transition: all 1s ease 0s;
    border-radius: 8px;
    animation-name: fadeIn;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 1.5s;
}

/* form */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.oversection {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    width: 100%;
}

.sendbtn {
    background-color: #fc8019;
    color: #fff;
    width: 100%;
    font-weight: 600;
}

.overtext {
    display: flex;
    justify-content: space-between;
}

.overtext {
    font-size: 25px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom { 
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }